*{
  margin:0px;
  padding:0px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
font-family:'Aladin', cursive;
}

[type=radio] {
  background:none;
  display:inline;
  align-self: flex-end;
  z-index:99999;
}

#slider {
  height: 39vw;
  padding:5px;
  position: relative;
  perspective: 1920px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
}

#slider label {
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0; right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  -webkit-box-shadow: 2px -1px 24px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px -1px 24px 0px rgba(0,0,0,0.75);
box-shadow: 2px -1px 24px 0px rgba(0,0,0,0.75);
  transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  -webkit-box-shadow: 2px -1px 24px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px -1px 24px 0px rgba(0,0,0,0.75);
box-shadow: 2px -1px 24px 0px rgba(0,0,0,0.75);
  transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  -webkit-box-shadow: 2px -1px 24px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px -1px 24px 0px rgba(0,0,0,0.75);
  box-shadow: 2px -1px 24px 0px rgba(0,0,0,0.75);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  -webkit-box-shadow: 2px -1px 24px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px -1px 24px 0px rgba(0,0,0,0.75);
  box-shadow: 2px -1px 24px 0px rgba(0,0,0,0.75);
  transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  -webkit-box-shadow: 2px -1px 24px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px -1px 24px 0px rgba(0,0,0,0.75);
  box-shadow: 2px -1px 24px 0px rgba(0,0,0,0.75);
  transform: translate3d(30%,0,-200px);
}



#slide1 { background: url('../img/slider1.jpg');background-size:cover; }
#slide2 { background: url('../img/slider2.jpg');background-size:cover; }
#slide3 { background: url('../img/slider3.jpg');background-size:cover; }
#slide4 { background: url('../img/slider4.jpg');background-size:cover; }
#slide5 { background: url('../img/slider6.jpg');background-size:cover; }


.form-book-btn{
margin-top:30px;
}

.navbar{
box-shadow: -1px -1px 41px -3px rgba(0,0,0,0.75);
}

#appointments{
font-family:'Aladin', cursive;

}
.container-fluid{
margin: auto;

}

.navbar-default{
height:80px;
background-color:white;
}

.navbar-nav .nav-item .nav-link{
  margin:8px;
  color:black;
  font-size: 22px;
}

.h1.text-center.mx-5{
color:black;
margin-top: 20px;
margin-bottom: 20px;
}

.auimgs{
height:250px;
width:250px;
background:none;
margin: 0px auto;

}
.aboutustxt{
color:black;
font-size:22px;
font-weight:500;
margin:15px 0 15px;
}

.dslr{
transform: rotate(70deg);
}

.navbar-brand{
  font-family: 'Dancing Script', cursive;
  font-size:40px;
  color:#24dced;
}

.navbar-brand:hover{
  color:#24dced;
}


.container-fluid .row .card{
  border:none;
  outline:none;
}

.footer{
font-family: 'Gochi Hand', cursive;
color:black;
font-size:28px;
font-weight:700;
display: inline-block;

}

.card{
width:350px;
height:380px;
}

.lips{
  height:60px;
  width:60px;
}

.card .card-img{
width:350px;
height:380px;

}

.card-title{
  font-size:32px;
  font-weight: 900;
  color:white;
  text-align:center;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }


.sdiv{
  margin-top:50px;
  text-align:center;
  font-weight:700;
}

.social{
  margin-top:100px;
}

.social-p{
text-align: center;
font-weight: 400;
font-size: 1.5rem;

}


.card-title .letter {
  display: inline-block;
  line-height: 1em;
}


.btn
{
position: absolute;
bottom:20px;
left:35%;

}

/* The progress container (grey background) */
.progress-container {
  position: fixed;
  width: 100%;
  top:80px;
  height: 3px;
  background: none;
  z-index: 99999;
}

#myBar{
background:#FF007F;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 3px;
  background: #4caf50;
  width: 0%;
}

.bookbtn-div{
display: flex;
}

.newsletter-div{
position: relative;
background:#EBEFF3;
height:100%;
width: 100%;
display: flex;
flex-direction: column;
justify-content:center;

}

#newsletter{
  top:40%;
  width:80%;
  outline:none;
  margin: 0px auto;
  height:45px;
  background:white;
  border-radius:5px;
  border:2px solid black;
  text-align: center;
  font-family: 'Bad Script', cursive;
  font-size:18px;
  font-weight:bold;

}

.sbs-btn{
border:none;
outline:none;
background:#89D400;
color:white;
border-radius:10px;
height:41px;
width:100px;
align-self:center;
margin-top:10px;
}

.sbs-btn:hover{
text-decoration: underline;
}


.btnbook{
border:none;
color:white;
height:40px;
width:60%;
background:#FF55A2;
border-radius:10px;
margin: 0px auto
}

.btnbook:hover{
background:#e60068;
}



h5{
margin-bottom:30px;
padding-bottom:15px;
border-bottom: 3px solid black;
}

.btn.btn-primary{
font-family: 'Itim', cursive;
border:1px solid white;
}

.btn.btn-primary:hover{
border:3px solid white;
font-family: 'Itim', cursive;
}

#services{
font-family: 'Aladin', cursive;
}
#aboutus{
font-family: 'Aladin', cursive;
}

.card-img{
box-shadow: -1px -1px 41px -3px rgba(0,0,0,0.75);
}
.card-text.align-middle{
font-size:19px;
color:white;
font-family: 'Patrick Hand', cursive;
margin:0;
position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);

}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }


.galimg{
  border:5px solid white;
  -webkit-box-shadow: 10px 10px 102px -20px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 102px -20px rgba(0,0,0,0.75);
box-shadow: 10px 10px 102px -20px rgba(0,0,0,0.75);
}

.compliments-card{
text-align:center;
margin:0px 15px;
border:2px solid gray ;
}

.compli-imgs{
  height:140px;
  width: 120px;
}

.ratings{
   color:#ffdf00;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
   margin: 0 5px;
}

#servicecards{
  margin-top:20px;
}

.ratings-text{
font-family: 'Patrick Hand', cursive;
}

.services-box{
display: flex;
justify-content: space-around;
flex-wrap:wrap;

}


@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}

@media (max-width: 700px){
.nav-item{
text-align:center;
background:white;
}
}

@media (max-width: 700px) {
html, body {
width: auto !important;
overflow-x: hidden !important;
}
}

@media (max-width: 650px){
  #spotlight, #dslr{
    display: none;
  }
}
@media (max-width: 650px){
#servicecards{
  margin:0px auto;
  margin-top:15px;
}
}

@media (max-width:650px){
#address-div{margin-top:60px;
  }
}

@media (max-width:650px){
  .navbar-brand{
    font-size:32px;
  }
}

@media (max-width:650px){
.aboutustxt {
    text-align:center;
  }
}
